@model StudyGroup.Models.Room

@{
    ViewBag.Title = "Delete";
}

<h2><font color="#b7a57a">Delete</font></h2>

<h3><font color="white">Are you sure you want to delete this?</font></h3>
<div>
    <h4><font color="#b7a57a">Room</font></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <font color="white"> @Html.DisplayNameFor(model => model.RoomName)</font>
</dt>

        <dd>
            <font color="white"> @Html.DisplayFor(model => model.RoomName)</font>
</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
