@{
    ViewBag.Title = "About";
}
<h2><font color="#b7a57a">@ViewBag.Title.</font></h2>
<h3><font color="white">The UWT Study Group Finder is meant for students to network with one another and study together for their classes.
    A student is able to find groups or make their own groups as well as select a room to study in.</font></h3>
<p></p>
<p><font color="#b7a57a">Contact:</font></p>
<p><font color="#b7a57a">Admin: Jason Kwong  Email: saikitjk@uw.edu</font></p>
<p><font color="#b7a57a">Admin: Baldeep Kang  Email: kangb3k@uw.edu</font></p>