@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address><font color="#b7a57a">
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100</font>
</address>

<address>
    <strong><font color="#b7a57a">Support:</font></strong>   <a href="mailto:Support@example.com"><font color="#b7a57a">Support@example.com</font></a><br />
    <strong><font color="#b7a57a">Marketing:</font></strong> <a href="mailto:Marketing@example.com"><font color="#b7a57a">Marketing@example.com</font></a>
</address>